In [129]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [130]:
df = pd.read_csv("D:\\ML-DataSets\\train.csv", usecols=['Age', 'Pclass', 'SibSp', 'Parch', 'Survived'])

In [131]:
df.head()

   Survived  Pclass   Age  SibSp  Parch
0         0       3  22.0      1      0
1         1       1  38.0      1      0
2         1       3  26.0      0      0
3         1       1  35.0      1      0
4         0       3  35.0      0      0

In [132]:
df.shape

(891, 5)

In [133]:
df.dropna(inplace=True)

In [134]:
df.head()

   Survived  Pclass   Age  SibSp  Parch
0         0       3  22.0      1      0
1         1       1  38.0      1      0
2         1       3  26.0      0      0
3         1       1  35.0      1      0
4         0       3  35.0      0      0

In [135]:
df.shape

(714, 5)

In [136]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [137]:
np.mean(cross_val_score(LogisticRegression(), x, y, cv = 15, scoring='accuracy'))

np.float64(0.696306146572104)

In [138]:
x.head()

   Pclass   Age  SibSp  Parch
0       3  22.0      1      0
1       1  38.0      1      0
2       3  26.0      0      0
3       1  35.0      1      0
4       3  35.0      0      0

In [139]:
x['Family_count'] = x['SibSp'] + x['Parch']

In [140]:
x['Family_count']

0      1
1      1
2      0
3      1
4      0
      ..
885    5
886    0
887    0
889    0
890    0
Name: Family_count, Length: 714, dtype: int64

In [141]:
x.head()

   Pclass   Age  SibSp  Parch  Family_count
0       3  22.0      1      0             1
1       1  38.0      1      0             1
2       3  26.0      0      0             0
3       1  35.0      1      0             1
4       3  35.0      0      0             0

In [142]:
def count(n):
    if n == 1:
        return 0
    elif n > 1 and n <= 4:
        return 1
    else:
        return 2

In [143]:
count(4)

1

In [144]:
x['Family_type'] = x['Family_count'].apply(count)

In [145]:
x.head()

   Pclass   Age  SibSp  Parch  Family_count  Family_type
0       3  22.0      1      0             1            0
1       1  38.0      1      0             1            0
2       3  26.0      0      0             0            2
3       1  35.0      1      0             1            0
4       3  35.0      0      0             0            2

In [146]:
x.drop(columns=['SibSp', 'Parch', 'Family_count'], inplace=True)

In [147]:
x

     Pclass   Age  Family_type
0         3  22.0            0
1         1  38.0            0
2         3  26.0            2
3         1  35.0            0
4         3  35.0            2
..      ...   ...          ...
885       3  39.0            2
886       2  27.0            2
887       1  19.0            2
889       1  26.0            2
890       3  32.0            2

[714 rows x 3 columns]

In [148]:
np.mean(cross_val_score(LogisticRegression(), x, y, cv = 15, scoring='accuracy'))

np.float64(0.7175236406619384)